body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.App {
  box-shadow: 0px 0px 5px 0px #a1a5ac;
  background-image: repeating-linear-gradient(
        #f8f3f2 0px,
        #f8f3f2 24px,
        steelblue 25px
    );
  background-size: 100% 1.7em; /* adjusting size of the lines */
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  color: #7c0da1;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 90vh;
}

/* creating a line for notebook effect */

.App::before {
  content: "";
  position: absolute;
  height: 90vh;
  padding: auto;
  left: 12%;
  top: 5%;
  width: 1px;
  background-color: rgb(28, 8, 8);
}

body {
  background: #b0bfb4;
}

h1 {
  color: #557c70; 
  font-style: italic;
  font-family: 'Liana', courier, monospace;
  margin-left: 80px; /* Adjust this value to move h1 further to the right */
  font-size: 3em;
  margin-bottom: 10px;
}

button {
  padding: 8px 20px;
  font-size: 14px;
  border: none;
  background-color: #e91e63;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin: 1em 0;
  margin-left: 10px;
}

button:hover {
  background-color: #c6215e;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.form {
  margin-top: 0;
  margin-bottom: 10px;
}

input {
  padding: 8px;
  font-size: 14px;
  width: 100%;
  max-width: 250px;
  margin-top: 10px;
  border-radius: 15px;
  border: 1px solid #6f6a6a;
  margin-left: auto;
  margin-right: 0;
  background-color:rgba(218, 203, 228, 0.5);
  margin-bottom: 10px;
  color: #7c0da1; 
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  margin-left: 100px;
  max-width: 300px;
  max-height: 300px;
  overflow-y: auto;
  border-radius: 5px;
}

li {
  margin: 0;
  line-height: 1.2;
  padding: 0;
  font-size: 14px;
  /* margin-left: 0px; */
}

h2 {
  margin-top: 20px; /* Reduce spacing above the stolen gifts section */
  margin-bottom: 10px; /* Reduce spacing below the stolen gifts heading */
}

.stolen-gifts {
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 0;
  margin: 0;
  margin-top: 5px; /* Reduce spacing above the stolen gifts list */
}

.stolen-gifts li {
  margin: 0;
  line-height: 1.2;
  padding: 0;
  font-size: 14px;
}

.text-align {
  text-align: center; /* Align text to the left */
}

.container {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}