.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #e91e63;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 1em 0;
}

button:hover {
  background-color: #d81b60;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  font-size: 18px;
}
